<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>TLChat</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>如果不允许，你将无法在微信中拍摄照片和视频，也无法使用视频聊天、扫一扫等功能。</string>
	<key>NSContactsUsageDescription</key>
	<string>如果不允许，微信将无法推荐通讯录中的朋友给你。微信仅使用特征码用于匹配识别，不会保存你的通讯录内容。</string>
	<key>NSHealthShareUsageDescription</key>
	<string>如果不允许，你将无法参与微信运动排行榜。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>如果不允许，你将无法在聊天中分享你的位置，也无法使用摇一摇、附近的人等功能。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>如果不允许，你将无法再微信中发送语音消息，或进行音视频聊天。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>如果不允许，你将无法发送系统相册里的照片给朋友，也无法将图片或视频保存到相册。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>如果不允许，你将无法发送系统相册里的照片给朋友，也无法将图片或视频保存到相册。</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
